<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>BookHouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="VB MK GS" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/images/favicon_io/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="assets/images/favicon_io/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="assets/images/favicon_io/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" type="image/png" href="assets/images/favicon_io/android-chrome-192x192.png" sizes=192x192>
    <link rel="icon" type="image/png" href="assets/images/favicon_io/android-chrome-512x512.png" sizes=512x512>
    <link rel="icon" href="assets/images/favicon_io/favicon.ico">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

</head>
<body>
