<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>BookHouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="VB MK GS" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/images/favicon_io/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="assets/images/favicon_io/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="assets/images/favicon_io/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" type="image/png" href="assets/images/favicon_io/android-chrome-192x192.png" sizes=192x192>
    <link rel="icon" type="image/png" href="assets/images/favicon_io/android-chrome-512x512.png" sizes=512x512>
    <link rel="icon" href="assets/images/favicon_io/favicon.ico">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

</head>
<body>

<nav class="site-header sticky-top py-1 fixed-top">
    <div class="container d-flex flex-column flex-md-row justify-content-between ">
        <a class="py-2" href="#" aria-label="Product">
            <img src="assets/images/books-icon2.png" alt="Book House" width="24" height="24" fill="none"
                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                 class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Book House</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <div class="top-title">Book House</div>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
    </div>
</nav>

