<div class="wrapper">
    <!-- Sidebar -->
<nav id="sidebar">
    <ul class="list-unstyled components">
        <p>Book House</p>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Мій кабінет</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Мої книжки</a>
                </li>
                <li>
                    <a href="#">Коментарі</a>
                </li>
                <li>
                    <a href="#">Історія оплат</a>
                </li>
                <li>
                    <a href="#">Налаштування</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Новини сайту</a>
        </li>
        <li>
            <a href="#">Аудіокниги</a>
        </li>
        <li>
            <a href="#">Контакти</a>
        </li>
    </ul>
</nav>
    <div class="container marketing">