<div class="main">
    <div class="book-name">Воно</div>
    <hr class="featurette">
    <div class="main-info clearfix">
        <img src="assets/images/books/book-1.jpg" class="cover">
        <div class="info">
            <div class="group">
                <div class="name author">Автор</div>
                <div class="inf author">Стівен Кінг</div>
            </div>
            <div class="group">
                <div class="name genre">Жанр</div>
                <div class="inf genre">Жахи</div>
                <div class="inf genre">Фантастика</div>
            </div>
            <div class="group">
                <div class="name status">Статус</div>
                <div class="inf status during"></div>
                <div class="inf status frozen"></div>
                <div class="inf status finished"></div>
            </div>
            <div class="group">
                <div class="name cycle">Цикл</div>
                <div class="inf cycle">Деррі</div>
            </div>
            <div class="group">
                <div class="name needed-age">Вікові обмеження</div>
                <div class="inf needed-age">16+</div>
            </div>
        </div>
    </div>
    <hr class="featurette">
    <div class="group">
        <div class="name content">Опис</div>
        <div class="inform content">В маленьком провинциальном городке Дерри много лет назад семерым подросткам
            пришлось столкнуться с кромешным ужасом - живым воплощением ада.
            Прошли годы... Подростки повзрослели, и ничто, казалось, не предвещало новой беды. Но кошмар
            прошлого вернулся, неведомая сила повлекла семерых друзей назад, в новую битву со Злом. Ибо в Дерри
            опять льется кровь и бесследно исчезают люди.
            Ибо вернулось порождение ночного кошмара, настолько невероятное, что даже не имеет имени...
        </div>
    </div>
    <div class="group">
        <div class="name author-note">Примітка автора</div>
        <div class="inform author-note">
            Я зведу вас з розуму, а потім уб’ю…
        </div>
    </div>
    <hr class="featurette">
    <div class="group">
        <div class="name table-cont">Зміст</div>
        <div class="table-cont part">Глава 1</div>
        <div class="table-cont part">Глава 2</div>
        <div class="table-cont part">Глава 3</div>
        <div class="table-cont part">Глава 4</div>
        <div class="table-cont part">Глава 5</div>
        <div class="table-cont part">Глава 6</div>
        <div class="table-cont part">Глава 7</div>
        <div class="table-cont part">Глава 8</div>
        <div class="table-cont part">Глава 9</div>
        <div class="table-cont part">Глава 10</div>
    </div>
</div>