<div class="row">
    <% genreBooks.forEach(function (book) { %>

        <div class="col-sm-6 col-md-4 col-lg-3" align="center">
            <div class="book-card" onclick="window.location.href='book.html';" style="cursor: pointer">
                <% if(book.is_popular){ %>
                    <div class="is-popular"> Популярне</div>
                <% } %>
                <img src="<%= book.icon %>" class="card-img">
                <div class="description">
                    <div class="card-name"><%= book.title %></div>
                    <div class="card-author"><%= book.author %></div>
                </div>
            </div>
        </div>
    <% }) %>
</div>