<div class="site">
    <div class="date"> Контактні дані</div>
    <form class="form-horizontal">
        <div class="form-group name-group row">
            <label class="col-lg-1 col-sm-2  control-label"> Ім'я </label>
            <div class="col-lg-11 col-sm-10">
                <input type="text" class="form-control" id="inputName" placeholder="Ім'я Прізвище">
            </div>
            <span class="help-block help"> Введіть тільки власне ім'я, без цифр</span>
        </div>
        <div class="form-group phone-group row">
            <label class="col-lg-1 col-sm-2  control-label"> Телефон </label>
            <div class="col-lg-11 col-sm-10">
                <input type="text" class="form-control" id="inputPhone" placeholder="+380994010999">
            </div>
            <span class="help-block help"> Введіть номер телефону у форматі +380 або почніть з 0</span>
        </div>
    </form>
    <div class="info-group">
        <div class="info-group-name"> Інформація про замовлення</div>
        <div class="info-line">
            <div class="line-name"> Назва книги:</div>
            <div class="information info-name"> невідомо</div>
        </div>
        <div class="info-line">
            <div class="line-name"> Автор:</div>
            <div class="information info-author"> невідомо</div>
        </div>
        <div class="info-line info-line-price">
            <div class="line-name"> Ціна:</div>
            <div class="information info-price"> невідомо</div>
        </div>
        <div class="info-line info-line-promo">
            <div class="line-name"> Промокод:</div>
            <div class="information info-promo">невідомо</div>
        </div>
    </div>
    <div class="button">
        <a class="btn next">
            Далі
            <i class="fa fa-angle-right"> </i>
        </a>
    </div>

</div>
<hr class="featurette-divider">