<div class="brand-name">
    <div class="position-relative overflow-hidden p-3 p-md-5 text-center">
        <div class="mx-auto">
            <h1 class="display-4 font-weight-normal">Book House</h1>
        </div>
        <i class="fa fa-facebook-square fa-2x"></i>
        <i class="fa fa-twitter-square fa-2x"></i>
        <i class="fa fa-instagram fa-2x"></i>
    </div>
</div>