.profile-userpic {
  max-width:140px;
  max-height:140px;
}
.change-pic{
  display: none;
}

@bookImageHeight: 120px;
#your-books, #transactions{
  .saved-books{
     //height: @bookImageHeight;
    margin-top: 10px;
    background: #fff5ec;
    color:#610c0c;
  }
  .card-img{
    //max-width: 220px;
    //height: auto;
    ////width: 150px;
    //height: auto;
    //height: @bookImageHeight;
     //max-height: @bookImageHeight;
  }
  .file {

  }
}
