.cabinet {
  .change-pic {
    display: none;
  }

  .cab-tabs {
    a {
      color: white;
    }
  }
  .cab-img{
    max-width: 200px;
    height: auto;
  }

  @media (max-width: 575px) {
    .avatar {
      max-width: 170px;
      max-height: 170px;
    }
  }



  #your-books, #transactions{
    .saved-books {
      margin-top: 10px;
      background: #fff5ec;
      color: #610c0c;
    }

    .file {
      padding-left: 5px;
    }
  }

  @media (max-width: 768px){


    .wrap-img, .card-title{
      text-align: center;
    }
  }

  nav .cart-amount {
    background: #fff;
    color: black;
  }

  nav .active .cart-amount {
    background: #272727;
    color: white;
  }
}
